h1{
  font-family: Montserrat, sans-serif;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div{
  width: 50%;
  padding: 10px;
}
.wrapper > div > table{
  width: 100%;
}

.clase > div{
  color:red;
}
