<h1 class="text-center">Proveedores</h1>
<div class="w-11/12 mx-auto animate__animated animate__fadeIn" *ngIf="dataSource else loading">
  <div class="flex justify-between">
    <input
      class="appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      type="text" (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    <button
      class="duration-300 bg-primary-color hover:bg-blue-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      (click)="add()">
      <i class='bx bx-plus'></i>
      Agregar proveedor
    </button>
  </div>

  <table class="mt-5" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="nombre_comercial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre comercial </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_comercial}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre_fiscal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre fiscal </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_fiscal}} </td>
    </ng-container>

    <ng-container matColumnDef="cif">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CIF </th>
      <td mat-cell *matCellDef="let element"> {{element.cif}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th  mat-header-cell *matHeaderCellDef> </th>
      <td class="w-5" mat-cell *matCellDef="let element">
        <div class="flex gap-5">


          <button (click)="edit(element)"
            class='bg-yellow-400 flex items-center justify-center text-white text-xl font rounded-full p-3 '>
            <i class="bx bx-edit"></i>
          </button>

          <button
            *ngIf="element.stock == null"
            (click)="delete(element)"
            class='bg-red-400 flex items-center justify-center text-white text-xl font rounded-full p-3 '>
            <i class="bx bx-trash"></i></button>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se ha encontrada con el termino "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>

<ng-template #loading>
  <div class="flex justify-center w-full">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
