<header class="bg-white font">
  <div>
    <div *ngIf="isNotAdmin()" class="user cursor-pointer hover:text-primary-color" routerLink="/cliente/home">
      <i class='bx bx-home '></i>
      <span>Home</span>
    </div>
    <div *ngIf="isNotAdmin()" class="user cursor-pointer hover:text-primary-color" routerLink="/cliente/perfil">
      <i class='bx bx-user '></i>
      <span>{{username}}</span>
    </div>
    <div *ngIf="!isNotAdmin()" class="user" routerLink="/dashboard/perfil">
      <i class='bx bx-user '></i>
      <span>Administrador</span>
    </div>
    <i (click)="logout()" class=' hover:text-primary-color bx bx-log-out'></i>
  </div>
</header>
