@media screen and (min-width: 768px){
  .responsiveContainer{
    min-width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .responsiveContainer div{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.responsiveContainer{
  margin-top:150px;
}
