<h1 class="text-center">Reparaciones</h1>
<div class="w-10/12 mx-auto">
  <hr>
  <div class="flex justify-between items-center my-5">
    <div>
      <p>Prioridades:</p>
      <mat-chip-list>
        <mat-chip color="prioridadAlta">
          Alta
        </mat-chip>
        <mat-chip color="prioridadMedia">
          Media
        </mat-chip>
        <mat-chip  color="prioridadBaja">
          Baja
        </mat-chip>
      </mat-chip-list>
    </div>
    <button (click)="addNewReparacion()" mat-fab color="azul">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-5">
    <mat-expansion-panel class="bg-secondary-color" *ngFor="let reparacion of reparaciones">
      <mat-expansion-panel-header class="h-24 expension-header">
        <mat-panel-title>
          <i class='bx bx-mobile-alt text-white text-3xl bg-primary-color p-2 rounded-xl mr-5'></i>
          8:00 AM - 10:00 AM
        </mat-panel-title>
        <mat-panel-description class="flex justify-end items-center gap-5 pr-5">
          <!-- avatar -->
          <div class="flex justify-center items-center mr-5">
            <img src="../../../../assets/tecnico_profile.png" alt="avatar" class="border-2 border-primary-color rounded-full w-12 h-12">
            <p class="mb-0">{{reparacion.tecnico.nombre}}</p>
          </div>
          <div [ngClass]="colorPrioridad(reparacion.prioridad)" class="rounded-full w-52 text-center px-3 py-1 text-white text-xl">{{reparacion.estado}}</div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" />
      </mat-form-field>
    </mat-expansion-panel>
  </div>
</div>
