
<div class="text-gray-900 tracking-wider leading-normal">


	<!--Container-->
	<div class="container w-full md:w-4/5   mx-auto px-2">

		<!--Title-->
		<h1 class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-8 text-xl md:text-2xl">
			Clientes
		</h1>


		<!--Card-->
		<div id='recipients' >

      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="row-border hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;"
      >
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>NIF</th>
            <th>Domicilio</th>
            <th>Codigo postal</th>
            <th>Poblacion</th>
            <th>Provincia</th>
            <th>Persona de contacto</th>
            <th>Registrado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.nombre_fiscal }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.nif }}</td>
            <td>{{ cliente.domicilio }}</td>
            <td>{{ cliente.CP }}</td>
            <td>{{ cliente.poblacion }}</td>
            <td>{{ cliente.provincia }}</td>
            <td>{{ cliente.persona_contacto }}</td>
            <td>{{ cliente.registered | date }}</td>
            <td class="flex items-center gap-4">
              <button
                class="bg-yellow-500 rounded-full p-2 w-10"
                (click)="editCliente(cliente)"
              >
                <i class="pi pi-user-edit"></i>
              </button>
              <button
                class="bg-red-500 rounded-full p-2 w-10"
                (click)="deleteCliente(cliente)"
              >
                <i class="pi pi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
