
<div class="mx-auto w-full h-full flex justify-center items-center">
  <form [formGroup]="formPassword" class="sign-up-form" (ngSubmit)="updatePass()">
    <img class="w-20 mx-auto logo" src="/assets/Gestirediel.png" >
    <h1>Gestirediel</h1>
    <h2 class="title">Cambiar contraseña</h2>
    <div class="input-field">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Introduce tu contraseña</mat-label>
        <input class="focus:ring-transparent" autocomplete="off" formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
        <button type="button" mat-icon-button matSuffix  (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formPassword.controls['password'].invalid">{{errorPassword}}</mat-error>
      </mat-form-field>
    </div>
    <input type="submit" class="btn" value="Cambiar contraseña" />
  </form>
</div>
