
<div class="h-screen bg-gray-400">
  <!-- Container -->
  <div class="container mx-auto">
    <div class="flex justify-center p-12">
      <!-- Row -->
      <div class="w-full xl:w-3/4 lg:w-11/12 flex">
        <!-- Col -->
        <div
          class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover bg-center rounded-l-lg"
          style="
            background-image: url('https://www.kindpng.com/picc/m/484-4840794_80215-compt-repairs-logo-large-computer-service-and.png');
          "
        ></div>
        <!-- Col -->
        <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">
          <h3 class="pt-4 text-2xl text-center">Bienvenid@ 🙂</h3>
          <form
            [formGroup]="formPassword"
            (ngSubmit)="updatePass()"
            class="px-8 pt-6 pb-8 mb-4 bg-white rounded"
          >
            <div class="mb-4">
              <label
                class="block mb-2 text-sm font-bold text-gray-700"
                for="password"
              >
                Nueva contraseña
              </label>
              <input
                formControlName="password"
                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="password"
                type="password"
                placeholder="*******"
              />
              <p class="text-xs italic text-red-500">{{ errorPassword }}</p>
            </div>

            <div class="my-6 text-center">
              <button
                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                type="submit"
              >
                Actualizar contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
