<form class="w-full max-w-lg" [formGroup]="form" (ngSubmit)="crear()">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-username">
        Nombre de usuario
      </label>
      <input
        formControlName="username"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-username" type="text" placeholder="Nombre...">
        <!-- border-red-500  -->
        <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('username')"
        >
        El nombre de usuario es requerido
        </p>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
        Email
      </label>
      <input
        formControlName="email"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-email" type="email" placeholder="example@gmail.com...">
        <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('email')"
        >
        El email es requerido
      </p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-3">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-nombre-fiscal">
        Nombre fiscal
      </label>
      <input
        formControlName="nombre_fiscal"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-nombre-fiscal" type="text" placeholder="Nombre...">
        <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('nombre_fiscal')">
        El nombre fiscal es requerido
      </p>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-nif">
        Nif
      </label>
      <input
        formControlName="nif"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-nif" type="text" placeholder="NIF...">
        <div [style.visibility]="form.controls['nif'].invalid && form.controls['nif'].touched ? 'visible' : 'hidden'">
        <p
          class="text-red-500 text-xs italic"
          *ngIf="form.controls['nif'].hasError('required')"
          >
          El nif es requerido
        </p>
        <p
          class="text-red-500 text-xs italic"
          *ngIf="form.controls['nif'].hasError('pattern')"
          >
         El nif debe tener 9 caracteres
        </p>
        </div>

    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-3">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-domicilio">
        Domicilio
      </label>
      <input
        formControlName="domicilio"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-domicilio" type="text" placeholder="Domicilio...">
      <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('domicilio')"
        >
         El domicilio es requerido
      </p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-cp">
        CP
      </label>
      <input
        formControlName="CP"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-cp" type="number" placeholder="CP...">
      <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('CP')"
        >
        El CP es requerido
      </p>
    </div>
    <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-poblacion">
        Población
      </label>
      <input
        formControlName="poblacion"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-poblacion" type="text" placeholder="Población...">
        <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('poblacion')"
        >
        La población es requerida
      </p>
    </div>
    <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-telefono">
        Teléfono
      </label>
      <input
        formControlName="telefono"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-telefono" type="tel" placeholder="Teléfono...">
        <p
        [style.visibility]="visibility('telefono')"
        class="text-red-500 text-xs italic">El teléfono es obligatorio.</p>
    </div>
    <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-provincia">
        Provincia
      </label>
      <input
        formControlName="provincia"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-provincia" type="text" placeholder="Provincia...">
        <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('provincia')"
        >
        La provincia es requerida
      </p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 m-3">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-domicilio">
        Persona de contacto
      </label>
      <input
        formControlName="persona_contacto"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-domicilio" type="text" placeholder="Persona de contacto...">
        <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('persona_contacto')"
        >
        La persona de contacto es requerida
      </p>
    </div>
  </div>

  <div class="mt-5 flex justify-end gap-5">
    <div *ngIf="!inReparacion">
      <button
        class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        (click)="closeDialog()"
        type="button">
        Cancelar
      </button>
      <button
        [disabled]="form.pristine || form.invalid"
        class="shadow bg-yellow-400 disabled:bg-gray-400 hover:bg-yellow-300 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="submit">
        Crear
      </button>
    </div>
    <button
        *ngIf="inReparacion"
        [disabled]="form.pristine || form.invalid"
        class="shadow bg-yellow-400 disabled:bg-gray-400 hover:bg-yellow-300 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="button"
        (click)="enviarClienteAReparacion()">
        Guardar
      </button>
  </div>
</form>

