table {
  width: 100%;
}

table td{
  height: 70px;
}
table .mat-row{
  cursor: pointer;
  transition: all .5s;
}
table .mat-row:hover{
  background-color: #D1E5FE;
}
table th{
  font-weight: bold;
  font-size: 14px;
}
