/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-modalbox > mat-dialog-container {
  background-color: transparent !important;
  padding: 0;
  box-shadow: none;
}

.clase > div{
  justify-content: center;
}
