<!-- accesorios: [''],
fecha_compromiso: ['',[Validators.required]],
averia: ['',[Validators.required]],
observaciones: [''],
tecnico: ['',[Validators.required]] -->

<form class="w-full max-w-lg" [formGroup]="form" (ngSubmit)="crear()">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-averia">
        Tipo de averia
      </label>
      <input
        formControlName="averia"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-averia" type="text" placeholder="Pantalla rota...">
        <!-- border-red-500  -->
        <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('averia')"
        >
        El tipo de averia es obligatoria
        </p>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-fecha_compromiso">
        Fecha de compromiso
      </label>
      <input
        formControlName="fecha_compromiso"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-fecha_compromiso" type="datetime">
        <p
        class="text-red-500 text-xs italic"
        [style.visibility]="visibility('fecha_compromiso')"
        >
        La fecha de compromiso es obligatoria
      </p>
    </div>
  </div>
  
  <div class="w-full md:w-1/2 px-3">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-observaciones">
      Observaciones
    </label>
    <textarea
      cols="30" rows="10"
      formControlName="observaciones"
      class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
      id="grid-observaciones"></textarea>
      <p
      class="text-red-500 text-xs italic"
      [style.visibility]="visibility('observaciones')">
      Las observaciones son obligatorias
    </p>
  </div>
  <div class="w-full md:w-1/2 px-3">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-tecnico">
      Tecnico
    </label>
    <select
      cols="30" rows="10"
      formControlName="tecnico"
      class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
      id="grid-tecnico">
      <option value="">Seleccione un tecnico</option>
      <option *ngFor="let tecnico of tecnicos" [value]="tecnico">{{tecnico.nombre}}</option>
    </select>
      <p
      class="text-red-500 text-xs italic"
      [style.visibility]="visibility('tecnico')">
      El tecnicos es obligatorio
    </p>
  </div>


  <div class="mt-5 flex justify-end gap-5">
    <button
        [disabled]="form.pristine || form.invalid"
        class="shadow bg-yellow-400 disabled:bg-gray-400 hover:bg-yellow-300 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="submit">
        Guardar
      </button>
  </div>
</form>

