<div #container class="container w-full">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-in-form" [formGroup]="formLogin" (ngSubmit)="login()">
        <h2 class="title">Iniciar sesión</h2>
        <div class="input-field">
          <mat-form-field appearance="fill" class="w-full" >
            <mat-label>Introduce tu email</mat-label>
            <input class="focus:ring-transparent" type="email" autocomplete="off" matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="formLogin.controls['email'].invalid">{{errorEmail}}</mat-error>
          </mat-form-field>
        </div>
        <div class="input-field">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Introduce tu contraseña</mat-label>
            <input class="focus:ring-transparent" autocomplete="off" formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
            <button type="button" mat-icon-button matSuffix  (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="formLogin.controls['password'].invalid">{{errorPassword}}</mat-error>
          </mat-form-field>
        </div>
        <p class="text-xs italic text-red-500">{{ errorMsg }}</p>
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
        </ngx-recaptcha2>
        <input type="submit" value="Iniciar sesión" class="btn solid" />
      </form>
      <form [formGroup]="formNewPassword" class="sign-up-form" (ngSubmit)="sendPass()">
        <h2 class="title">Cambiar contraseña</h2>
        <div class="input-field">
          <mat-form-field appearance="fill" class="w-full" >
            <mat-label>Introduce tu email</mat-label>
            <input class="focus:ring-transparent" autocomplete="off" matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="formLogin.controls['email'].invalid">{{errorEmail}}</mat-error>
          </mat-form-field>
        </div>
        <input type="submit" class="btn" value="Enviar email" />
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>¿No te acuerdas de tu contraseña?</h3>
        <p>
          No te preocupes, puedes cambiarla en cualquier momento.
        </p>
        <button class="btn transparent" (click)="signUpMode()">
          Cambiar contraseña
        </button>
      </div>
      <img src="/assets/log.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>¿Ya tienes cuenta?</h3>
        <p>
          Inicia sesión para acceder a tu cuenta.
        </p>
        <button class="btn transparent" (click)="signInMode()">
          Iniciar sesión
        </button>
      </div>
      <img src="/assets/register.svg" class="image" alt="" />
    </div>
  </div>
</div>
